.DS_Store
.mypy_cache
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec

papers/
output/
workspace/
sandbox_output/

.env
